{% extends "base.html" %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
  <h2>Сайт недвижимости</h2>
  <p>Только лучшие предложения</p>

  <div class="apartments">
    <div class="apartment">
      <img src="{% static 'images/apartment1.jpg' %}" alt="Квартира 1">
      <h3>Лучшее предложение в Лебяжем</h3>
      <p>2 комнаты, 52.7 м²</p>
      <p class="price">120 000 $</p>
    </div>

    <div class="apartment">
      <img src="{% static 'images/apartment2.jpg' %}" alt="Квартира 2">
      <h3>Эксклюзивный пентхаус с террасой в Немиге</h3>
      <p>6 комнат, 496 м²</p>
      <p class="price">1 250 000 $</p>
    </div>

    <div class="apartment">
      <img src="{% static 'images/apartment3.jpg' %}" alt="Квартира 3">
      <h3>Престижная квартира возле зелёных уголков Минска</h3>
      <p>1 комната, 30.8 м²</p>
      <p class="price">63 000 $</p>
    </div>
  </div>

  <h2>Доступные объявления</h2>

{% for listing in listings %}
  <div class="card">
    <h3>
      <a href="{% url 'listing_detail' listing.pk %}">{{ listing.title }}</a>
    </h3>
    <p>{{ listing.description|truncatewords:20 }}</p>
    <p>{{ listing.price }} $</p>
  </div>
{% empty %}
  <p>Объявлений пока нет.</p>
{% endfor %}

{% endblock %}

