{% extends "base.html" %}
{% load static %}

{% block title %}Результаты поиска{% endblock %}
{% block content %}
<h2>Результаты поиска</h2>

<form method="get" action="{% url 'search' %}">
    <input type="text" name="q" placeholder="Введите название" value="{{ query }}">
    <button type="submit">Искать</button>
</form>

<div class="apartments">
    {% for apartment in listings %}
        <div class="apartment">
            <img src="{% static 'images/apartmens1.jpg' %}" alt="{{ apartment.title }}">
            <h3>{{ apartment.title }}</h3>
            <p>{{ apartment.rooms }} комнат(ы), {{ apartment.area }} м²</p>
            <p class="price">{{ apartment.price }} $</p>
        </div>
    {% empty %}
        <p>Ничего не найдено"{{ query }}".</p>
    {% endfor %}
</div>
{% endblock %}