{% extends "base.html" %}
{% load static %}

{% block title %}Результаты поиска{% endblock %}
{% block content %}
<h2>Результаты поиска</h2>

<form method="get" action="{% url 'search' %}">
    <input type="text" name="q" placeholder="Введите название" value="{{ query }}">
    <button type="submit">Искать</button>
</form>

<div class="apartments">
  {% if listings %}
    {% for apartment in listings %}
      <div class="apartment">
        <img src="{% if apartment.image %}{{ apartment.image.url }}{% else %}{% static 'images/apartment1.jpg' %}{% endif %}" alt="{{ apartment.title }}">
        <h3>{{ apartment.title }}</h3>
        <div class="apartment-info-row">
          <span class="description">{{ apartment.rooms }} комн. • {{ apartment.area }} м²</span>
          <span class="price">{{ apartment.price }} $</span>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="no-results">Ничего не найдено по запросу "{{ query }}".</p>
  {% endif %}
</div>
{% endblock %}