<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Сайт недвижимости{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

  <header>
    <header class="dark">
    <div class="container">
      <nav class="nav-container">
        <div class="nav-left">
          <a href="{% url 'index' %}">Главная</a>
          <a href="{% url 'search' %}">Поиск</a>
        </div>
        <div class="nav-right">
          {% if user.is_authenticated %}
            <div class="user-block">
              <span class="nav-greeting">Привет, {{ user.username }}</span>
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-link">Выход</button>
              </form>
            </div>
          {% else %}
            <a href="{% url 'login' %}">Вход</a>
            <a href="{% url 'signup' %}">Регистрация</a>
          {% endif %}
        </div>
      </nav>
    </div>
  </header>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

<footer class="dark">
  <div class="container">
    <p>&copy; 2025 Сайт недвижимости. Все права защищены.</p>
  </div>
</footer>

</body>
</html>


